<h1 class="text-center mt-3">Users</h1>

<section class="py-5">
    <div class="px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let user of userList | filter : searchTerm:'firstName'">
                <div class="card" style="width: 18rem;">
                    <div class="card-header text-dark text-center">
                      <b>{{user.firstName + " " + user.lastName}}</b>
                      <img class="card-img-top" src="{{user.image}}" alt="no image" />
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Age : <em>{{user.age}}</em></li>
                      <li class="list-group-item">Gender : <em>{{user.gender}}</em></li>
                      <li class="list-group-item">Email : <em>{{user.email}}</em></li>
                    </ul>
                    <div class="card-footer p-4 border-top-0 bg-transparent">
                      <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="view-user/{{user.id}}">More Details</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>